.login-form-container {
  height: 100vh;
  width: 100%;
}
.login-button-area {
  margin-bottom: 40px !important;
}
.login-button {
  margin-bottom: 27px !important;
}
.social-links-container{
 text-align: center;
 padding-bottom: 15px;
}
.btn-facebook{
  margin-right: 20px;
}
.btn-google-plus{
  margin-right: 20px;
}
