<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" >
      <div class="form-group">
        <label class="col-md-4">Distance</label>
        <input type="text" class="form-control" formControlName="distance" #distance/>
      </div>
      <div *ngIf="angForm.controls['distance'].invalid && (angForm.controls['distance'].dirty || angForm.controls['distance'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['distance'].errors.required">
              distance is required.
          </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">StartDate</label>
<!--         <input type="text" class="form-control" formControlName="startDate" #startDate/>
 -->        <input type="date" class="form-control" formControlName="startDate" #startDate
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31" />
      </div>
      <div *ngIf="angForm.controls['startDate'].invalid && (angForm.controls['startDate'].dirty || angForm.controls['startDate'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['startDate'].errors.required">
              startDate is required.
          </div>
      </div> 
      <div class="form-group">
          <label class="col-md-4">EndDate</label>
<!--           <input type="text" class="form-control" formControlName="endDate" #endDate/>
 -->          <input type="date" class="form-control" formControlName="endDate" #endDate
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31" />
      </div> 
      <div *ngIf="angForm.controls['endDate'].invalid && (angForm.controls['endDate'].dirty || angForm.controls['endDate'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['endDate'].errors.required ">
              endDate is required.
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-4">commite</label>
          <input type="text" class="form-control" formControlName="commite" #commite/>
      </div>
      <div *ngIf="angForm.controls['commite'].invalid && (angForm.controls['commite'].dirty || angForm.controls['commite'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['commite'].errors.required">
              commite is required.
          </div>
      </div>
      <!-- <div class="form-group">
        <button type = "submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
      </div>  -->
      <div class="form-group">
          <button (click)="add(distance.value, startDate.value, endDate.value, commite.value)" [disabled]="angForm.pristine || angForm.invalid || startDate.value>=endDate.value" class="btn btn-primary">Add</button>
        </div>
    </form>
  </div>
</div>
